.hero {
  background-color: #74c69d;
  height: calc(100vh - 6rem);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  color: #fff;
  font-family: "Lato", sans-serif;
  padding: 3rem 4rem;
}

.first-container h2 {
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 0.8rem;
  margin-block-end: 1rem;
}

.first-container h3 {
  max-width: 400px;
  font-size: clamp(2rem, 4vw, 3.5rem);
  word-spacing: 0.2rem;
}

.first-container p {
  max-width: 380px;
  font-size: clamp(1.8rem, 4vw, 2rem);
  color: #e9e9e9ef;
  margin-block: 1rem;
}

.first-container a {
  display: inline-block;
  background-color: #fff;
  color: #000;
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;
  border-radius: 0.5rem;
  padding: 1rem 2.8rem;
  transition: all 0.4s ease-in-out;
}

.first-container a:hover {
  color: #fff;
  background-color: #000;
}

.first-conatiner a:active,
.partners-container a:active,
.learn-more-container a:active {
  opacity: 0.5;
}

.second-container {
  max-width: 100%;
  height: auto;
  width: 500px;
}

.second-container img {
  width: 100%;
  height: auto;
}

.partners-container {
  margin: 5rem 4rem;
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.tag-word-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tag-word-container h3:first-of-type {
  color: #74c69d;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-weight: 700;
}

.tag-word-container h3:last-of-type {
  font-family: "Times New Roman", Times, serif;
  font-size: 2.5rem;
  margin-block: clamp(1rem, 4vw, 2rem);
  text-transform: capitalize;
}

.tag-word-container p {
  font-size: clamp(1.8rem, 4vw, 2rem);
  max-width: 350px;
  text-align: center;
}

.partners {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-block: clamp(2rem, 4vw, 3rem);
}

.partners img {
  max-width: 160px;
  width: 100%;
}

.partners-container a {
  display: inline-block;
  background-color: #0f0e0e;
  color: #fff;
  font-size: clamp(1.8rem, 4vw, 2rem);
  text-decoration: none;
  text-transform: capitalize;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  align-self: center;
  transition: opacity 0.3s ease-in-out;
}

.partners-container a:hover,
.learn-more-container a:hover {
  opacity: 0.9;
}

.partners-container a:active,
.learn-more-container a:active {
  opacity: 0.7;
}

.learn-more-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  align-items: center;
  font-family: "Lato", sans-serif;
  gap: 4rem 5rem;
  margin-inline: clamp(1.5rem, 4vw, 4rem);
  margin-block: clamp(3rem, 4vw, 4rem);
}

.learn-more-container .img-container img {
  width: 100%;
  height: auto;
}

.learn-more-container h3 {
  font-size: 2.5rem;
  max-width: 280px;
}

.learn-more-container p {
  font-size: 2rem;
  margin-block: clamp(1rem, 4vw, 2rem);
}

.learn-more-container a,
.team-container a {
  display: inline-block;
  background-color: #0f0e0e;
  color: #fff;
  font-size: clamp(1.8rem, 4vw, 2rem);
  text-decoration: none;
  text-transform: capitalize;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  transition: opacity 0.3s ease-in-out;
}

.team-container {
  font-family: "Lato", sans-serif;
  margin-inline: clamp(1.5rem, 4vw, 4rem);
  display: flex;
  flex-direction: column;
}

.team-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-block: clamp(3rem, 4vw, 4rem);
}

.card {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.1);
}

.card img {
  width: 150px;
}

.card h3 {
  font-family: "Times New Roman", Times, serif;
  font-size: clamp(1.6rem, 4vw, 1.8rem);
  text-transform: capitalize;
  margin-block: 0.8rem;
}

.card p {
  text-transform: uppercase;
  font-size: 1.2rem;
}

.team-container a {
  align-self: center;
}

@media (max-width: 768px) {
  .hero {
    height: unset;
    flex-direction: column;
    justify-content: initial;
    gap: 5rem;
    padding-inline: 1.5rem;
    padding-block: 5rem 10rem;
  }
  .first-container a {
    padding: 0.8rem 2rem;
    margin-block-start: 1.8rem;
  }
  .first-container {
    order: 2;
    width: 100%;
  }
  .second-container {
    order: 1;
    width: 100%;
  }
  .first-container h3,
  .first-container p {
    max-width: 768px;
  }
  .no-scroll {
    overflow: hidden;
    height: 100vh;
  }
  .partners-container {
    margin: 2rem 1.5rem;
  }
  .partners {
    justify-content: center;
    gap: 3rem;
  }
  .partners-container a {
    align-self: center;
  }
  .learn-more-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .learn-more-container div:nth-of-type(3) {
    order: 4;
  }
  .learn-more-container div:nth-of-type(4) {
    order: 3;
  }
  .team-cards {
    justify-content: center;
    gap: 2rem;
  }
}

@media (max-width: 328px) {
  .learn-more-container {
    grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
  }
}

@media (max-width: 568px) {
  .team-cards {
    flex-direction: column;
    align-items: center;
    gap: 2rem 0;
  }
}

@media (min-width: 769px) {
  .team-cards {
    gap: 2rem 0;
  }
}

@media (min-width: 1200px) {
  main {
    max-width: 1200px;
    margin: 0 auto;
  }
}
